body{
    margin: 0;
    background-color: burlywood;
    justify-content: center;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 200px;
}
main{
    width: 400px;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}