body{
    margin: 0;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 200px;
}
main{
    max-width: 400px;
    width: 100%;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background: orange;
    text-align: justify;
}
h1{
    color: red;
    text-align: center;
    background-color: orange;
    justify-content: center;
    font-size: 20px;
}
#container{
border: 10px solid #B22222;
padding: 60px;
justify-items: center;
padding-top: 0;
}

ul.film-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 200px;
    flex: 0 0 200px;
    align-self:flex-start;
}
ul.film-list .film.item { 
    padding: 0.5rem;
     margin-bottom: 0.5rem;
      background-color: white;
     border: 1px solid #ddd;
      border-radius: 4px; 
      cursor: pointer;
}
ul.film-list .film.item:hover {
    background-color: #f0f0f0;
}